

#new {
    display: none;
}

#new-p {
    text-align: center;
    font-size: 30px;
    background-image: url("./images/color-exp.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 100px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border: solid 2px black;
    border-radius: 3px;
}

#change-color-btn {
    background-color: aqua;
    height: 80px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border: solid 2px black;
    border-radius: 8px;
}

.changes {
    background-color: purple;
}